<div  class="search-bar-container">
  <input class="search-bar level-item" title="City Name" #input type="text" placeholder="Washington">
  <input class="search-bar2 level-item" title="State Abbreiv." #input2 type="text" placeholder="DC">

  <button (click)="searchedCity(input.value, input2.value)" type="button"><img [src]="searchImg" alt=""
      srcset=""></button>
</div>


<div *ngIf="data !== null" class="current-weather-container-2">
  <div class="current-weather">
    <h1>{{currentCityWeather.cityNcode}}</h1>
    <p> {{currentCityWeather.weather}}</p>
  </div>


  <div class="temperature-container">
    <div class="current-weather-details">
      <div class="humidity">
        <p>{{currentCityWeather.humidity}} /</p>
      </div>
      <div class="wind">
        <p>{{currentCityWeather.windSpeed}} /</p>
      </div>
      <div class="day-container">
        <p>{{currentCityWeather.description}}</p>
      </div>
    </div>
    <div class="highNlowTemp-container">
      <div class="high-container box">
        <p class="high">High</p>
        <p class="max-temp">{{ currentCityWeather.highTemp }}</p>
      </div>
      <div class="low-container box">
        <p class="low">Low</p>
        <p class="min-temp">{{ currentCityWeather.lowTemp}}</p>
      </div>
    </div>
  </div>
</div>
