<div  class="search-bar-container">
  <input class="search-bar level-item" #input type="text" placeholder="Washington">
  <input class="search-bar2 level-item" #input2 type="text" placeholder="DC">

  <button (click)="searchedCity(input.value, input2.value)" type="button"><img [src]="searchImg" alt=""
      srcset=""></button>
</div>

<!-- <div *ngIf="toggleSwitch === 'off'" class="current-weather-container">
  <h1>{{currentCityWeather.city}}</h1>
  <p>{{currentCityWeather.weather}}</p>
  <a href="" onclick="return false" (click)="toggle()"><img [src]="searchImg" alt="" srcset=""></a>
</div> -->

<div *ngIf="data !== null" class="current-weather-container-2">
  <div class="current-weather">
    <h1>{{currentCityWeather.city}}</h1>
    <p> {{currentCityWeather.weather}}</p>
  </div>


  <div class="temperature-container">
    <div class="current-weather-details">
      <div class="humidity">
        <p>{{currentCityWeather.humidity}} /</p>
      </div>
      <div class="wind">
        <p>{{currentCityWeather.windSpeed}} /</p>
      </div>
      <div class="day-container">
        <p>{{currentCityWeather.description}}</p>
      </div>
    </div>
    <div class="high-container">
      <p class="high">H:</p>
      <p class="max-temp">{{ currentCityWeather.highTemp }}</p>
    </div>
    <div class="low-container">
      <p class="low">L:</p>
      <p class="min-temp">{{ currentCityWeather.lowTemp}}</p>
    </div>
  </div>
</div>
