.container {
  margin: 0 auto;

}

.forecast-body {
  width: max-content;
  height: max-content;
  margin: auto;

}

.weekday-container {
  text-align: center;
  margin: auto 0;
  border: solid rgba(255, 255, 255, 0) .1rem;
  border-bottom: 0rem;
  background: linear-gradient(to top, #4d688c9f, #30588C);
  display: flex;
  color: white;
}

.weekday {
  padding: 1.5rem;
  border-right: .1rem solid #e0d1bf
}

:last-child {
  border-right: none;
}

.day-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: black 1px 1px 1px;
  font-size: 1.1rem;
}

.weather-description-container {}

.weather-description-container img {}

.temperature-container {
  font-size: 1.2rem;
}

.high-container,
.low-container {
  display: flex;
  margin: auto;
  width: max-content;
}


.low-container .low,
.high-container .high {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  text-shadow: white 1px 1px 1px;
}

.high-container .high {
  color: orange
}

.low-container .low {
  color: lightblue
}

.high-container .max-temp,
.low-container .min-temp {
  font-size: 1.5rem;
  margin: auto 0rem auto .5rem;
}

.high-container .max-temp {
  color: rgb(241, 170, 128);
}

.low-container .min-temp {
  color: lightcyan
}

.current-weather-container {
  width: max-content;
  color: white;
  font-style: italic;
  height: max-content;
  margin: 1rem auto;
  display: flex;
}

.current-weather-container h1 {
  font-size: 2.4rem;
  margin: 0;
  text-shadow: rgb(170, 170, 170) 2px 2px 2px;
}

.current-weather-container p {
  font-size: 1.7rem;
  margin: auto auto auto 1rem;
  text-shadow: rgb(170, 170, 170) 2px 2px 2px;
}

.current-weather-container a {
  margin: auto 0rem auto 1rem;
}

.current-weather-container h1,
.current-weather-container p {
  font-size: 2rem;
  text-shadow: black 1px 1px 1px;
}

// utils

p {}

.box {
  display: flex;
}
