<section class="container">

  <div *ngIf='currentCity.city !== ""' class="current-weather-container">
    <h1>{{currentCity.cityNcode}}</h1>
    <p>{{currentCity.weather}}</p>
    <a href="" (click)="switchControl()"><img [src]="searchImg" alt="" srcset=""></a>
  </div>

  <div *ngIf='currentCity.city !== ""' class="forecast-body">
    <div class="box">
      <div class="weekday-container">
        <div class="weekday col-lg-12 card-body" *ngFor="let element of weekdaysArray">
          <div class="day-container card-title">
            <h4>{{ element.day }}</h4>
            <p>{{element.description}}</p>
          </div>

          <div class="weather-description-container col-lg-12">
            <img class="col-lg-12" src="" alt="" />
          </div>

          <div class="temperature-container">
            <div class="high-container">
              <p class="high">H:</p>
              <p class="max-temp">{{ element.maxTemperature }}</p>
            </div>
            <div class="low-container">
              <p class="low">L:</p>
              <p class="min-temp">{{ element.minTemperature }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
