<div class="navigation-bar">
  <div class="title-container">
    <em>
      <h1 class="title-part-A">Astral</h1>
    </em>
    <em>
      <h1 class="title-part-B">Weather</h1>
    </em>
  </div>
  <div class="navigation-menu">

    <div class="navigation-links-conatiner">
      <div class="box">
        <a routerLink="/dashboard" routerLinkActive="active" href="">Dashboard</a>
      </div>
      <!-- <div class="box">
        <a href="">Weather Map</a>
      </div> -->
      <div class="box">
        <a routerLink="/sevenDayForecast" routerLinkActive="active"  href="">7-Day Forecast</a>
      </div>
      <!-- <div class="box">
        <a href="">Severe Weather</a>
      </div> -->
    </div>
  </div>

</div>


<router-outlet></router-outlet>
