/* You can add global styles to this file, and also import other style files */
body,
html{
  margin: 0%;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%
}

.washington-dc {
  background: url("./assets/images/washington_dc.jpg") no-repeat center center fixed;
  background-size: cover
}

.richmond-va {
  background: url("./assets/images/richmond_va.jpg") no-repeat center center fixed;
  background-size: cover
}

::placeholder {
  color: black;
  opacity: 50%;
}
